{% extends '::base.html.twig' %}

{% block body -%}
    <div class="col-lg-12">
        <h1>Client list</h1>
        <a href="{{ path('clients_new') }}">
            <button class="btn btn-primary" type="button">Create a new entry</button>
        </a>
    </div>
    <div class="col-lg-6">
        <ul class="nav nav-pills nav-stacked">
            {% for entity in entities %}
                <li>
                    <a id="#clientlink-{{ entity.id }}" data-toggle="pill" href="#client-{{ entity.id }}" aria-controls="client-{{ entity.id }}" role="tab">{{ entity.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-lg-6">
        <div class="tab-content">
            {% for client in entities %}
                <div role="tabpanel" class="tab-pane" id="client-{{ client.id }}">
                    <h1>{{ client.name }}</h1>
                    {% if client.projects is not empty %}
                        {% for project in client.projects %}
                            <div class="col-lg-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">{{ project.name }}</div>
                                    <div class="panel-body">
                                        {{ project.description }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h3><i>No Projects yet for this client</i></h3>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
